<%if @club.errors.any?%>

    <%@club.errors.full_messages.each do |msg|%>
        <div><%= msg%></div>
    <%end%><br>
<%end%>  

<%=form_for @club do |f|%><br>
<%=f.label :name%><br>
<%=f.text_field :name%><br>
<%=f.label :city%><br>
<%=f.text_field :city%><br>
<%=f.label :home_arena%><br>
<%=f.text_field :home_arena%><br>
<%=f.label :wins%><br>
<%=f.number_field :wins%><br>
<%=f.label :losses%><br>
<%=f.number_field :losses%><br>
<%=f.submit%>
<%end%>