<!DOCTYPE html>
<html>
  <head>
    <title>FutbolCoach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class = "navbar">
      <%= link_to "Home", home_path%>
      <%= link_to "Player List", players_path%>
      <%= link_to "Club List", clubs_path%>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
